{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">New Product</legend>
                    <div class="form-group">
                        {{ form.title.label(class="form-control-label") }}
                        {% if form.title.errors %}
                            {{ form.title(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.title.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.title(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.description.label(class="form-control-label") }}
                        {% if form.description.errors %}
                            {{ form.description(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.description.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.description(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.quantity.label(class="form-control-label") }}
                        {% if form.quantity.errors %}
                            {{ form.quantity(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.quantity.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.quantity(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.price.label(class="form-control-label") }}
                        {% if form.price.errors %}
                            {{ form.price(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.price.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.price(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-check p-2 m-2">
                        {{ form.flag_out_of_stock(class="form-check-input") }}
                        {{ form.flag_out_of_stock.label(class="form-check-label") }}
                    </div>
                    <div class="form-group">
                        {{ form.expect_restock_date.label(class="form-control-label") }}
                        {% if form.expect_restock_date.errors %}
                            {{ form.expect_restock_date(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.expect_restock_date.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.expect_restock_date(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            </form>
    </div>
{% endblock content %}