{% extends "layout_new.html" %}
{% block content_main %}
    {% for product in products.items %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <span class="badge badge-secondary">{{ product.category.description }}</span>
              <a class="mr-2" href="{{ url_for('products.show_product', product_id=product.id) }}">{{ product.title }}</a>
            </div>
            <p class="article-content">{{ product.description }}</p>
            <p>${{ '{:,.2f}'.format(product.price) }} - Stock: {{ product.quantity }}</p>
          </div>
        </article>
    {% endfor %}
    {% for page_num in products.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if products.page == page_num %}
            <a class="btn btn-info mb-4" href="{{url_for('products.list_product', page=page_num)}}">{{page_num}}</a>
            {% else %}
            <a class="btn btn-outline-info mb-4" href="{{url_for('products.list_product', page=page_num)}}">{{page_num}}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content_main %}