{% extends "layout_new.html" %}
{% block content_main %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
            <a href="{{ url_for('products.list_product', c=product.category.id) }}"><span class="badge badge-secondary">{{ product.category.description }}</span></a>
            <a class="mr-2" href="{{ url_for('products.show_product', product_id=product.id) }}">{{ product.title }}</a>
            <p>${{ '{:,.2f}'.format(product.price) }} - Stock: {{ product.quantity }}</p>
        </div>
        <p class="article-content">{{ product.description }}</p>
      </div>
    </article>
{% endblock content_main %}


{% block content_left %}
    <div class="content-section">
        <h6 class="mx-auto">Categories</h6>
        <div class="list-group">
            <a href="{{ url_for('products.list_product') }}" class="list-group-item list-group-item-action">All</a>
            {% for category in categories %}
                <a href="{{ url_for('products.list_product', c=category.id) }}" class="list-group-item list-group-item-action">{{ category.description }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock content_left %}