{% extends "layout_new.html" %}
{% block content_main %}
    <h1>Admin - Home</h1>
{% endblock content_main %}

{% block content_right %}
    <div class="content-section">
        <div class="list-group">
            <a href="{{ url_for('admin.admin_user') }}" class="list-group-item list-group-item-action">User</a>
            <a href="{{ url_for('admin.admin_product') }}" class="list-group-item list-group-item-action">Product</a>
            <a href="{{ url_for('admin.admin_cs') }}" class="list-group-item list-group-item-action">Customer Service</a>
        </div>
    </div>
{% endblock content_right %}