{% extends "layout_new.html" %}
{% import "macros.html" as macro %}
{% block content_main %}
    <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Update Product</legend>
                    {{ macro.std_form_input(form.categories) }}
                    {{ macro.std_form_input(form.title) }}
                    {{ macro.std_form_input(form.description) }}
                    {{ macro.std_form_input(form.quantity) }}
                    {{ macro.std_form_input(form.expect_stock_quantity) }}
                    {{ macro.std_form_input(form.price) }}
                    {{ macro.std_form_check(form.flag_out_of_stock) }}
                    {{ macro.std_form_input(form.expect_restock_date) }}
                </fieldset>
                {{ macro.std_form_submit(form.submit) }}
            </form>
    </div>
{% endblock content_main %}
{% block content_right %}
    <div class="content-section">
        <div class="list-group">
            <a href="{{ url_for('admin.admin_product') }}" class="list-group-item list-group-item-action">Product List</a>
            <a href="{{ url_for('admin.admin_new_product') }}" class="list-group-item list-group-item-action">New Product</a>
            <a href="{{ url_for('admin.admin_new_category') }}" class="list-group-item list-group-item-action">New Category</a>
        </div>
    </div>
{% endblock content_right %}