{% extends "layout_new.html" %}
{% block content_main %}
    <table class="table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Product</th>
                <th>Description</th>
                <th>Price</th>
                <th>In Stock</th>
                <th>Maintain Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products.items %}
        <tr>
            <td><span class="badge badge-dark">{{ product.category.description }}</span></td>
            <td><a href="{{ url_for('admin.admin_edit_product', pid=product.id) }}">{{ product.title }}</a></td>
            <td>{{ product.description }}</td>
            <td>${{ '{:,.2f}'.format(product.price) }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.expect_stock_quantity }}</td>
            <td>
                <a class="btn btn-info btn-sm" href="{{ url_for('admin.admin_edit_product', pid=product.id) }}">Edit</a>
                <a class="btn btn-danger btn-sm" href="{{ url_for('admin.admin_delete_product', pid=product.id) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% for page_num in products.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if products.page == page_num %}
                <a class="btn btn-info mb-4" href="{{url_for('admin.admin_product', page=page_num)}}">{{page_num}}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{url_for('admin.admin_product', page=page_num)}}">{{page_num}}</a>
            {% endif %}
        {% else %}
            .
        {% endif %}
    {% endfor %}
{% endblock content_main %}