{% extends "layout_new.html" %}
{% import "macros.html" as macro %}
{% block content_main %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Admin - Create User</legend>
                {{ macro.std_form_input(form.email) }}
                {{ macro.std_form_input(form.first_name) }}
                {{ macro.std_form_input(form.last_name) }}
                {{ macro.std_form_input(form.password) }}
                {{ macro.std_form_input(form.password_confirm) }}
                {{ macro.std_form_check(form.is_admin) }}
                {{ macro.std_form_check(form.is_cs) }}
            </fieldset>
            {{ macro.std_form_input(form.submit) }}
        </form>
    </div>
{% endblock content_main %}

{% block content_left %}
    <div class="content-section">
        <div class="list-group">
            <a href="{{ url_for('admin.admin_user') }}" class="list-group-item list-group-item-action">Back</a>
        </div>
    </div>
{% endblock content_left %}