{% extends "layout_new.html" %}
{% import "macros.html" as macro %}
{% block content_main %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Information</legend>
                {{ macro.std_form_input(form.email) }}
                {{ macro.std_form_input(form.first_name) }}
                {{ macro.std_form_input(form.last_name) }}
            </fieldset>
            {{ macro.std_form_input(form.email) }}
        </form>
        <div class="border-top pt-3">
            <a href="{{ url_for('users.reset_password') }}" class="ml-2">Reset Account Password</a>
        </div>
        <div class="border-top pt-3">
            <a href="{{ url_for('users.close_account') }}" class="ml-2">Close Account</a>
        </div>
    </div>
{% endblock content_main %}