{% extends "layout_new.html" %}
{% import "macros.html" as macro %}
{% block content_main %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register a new account</legend>
                {{ macro.std_form_input(form.email) }}
                {{ macro.std_form_input(form.first_name) }}
                {{ macro.std_form_input(form.last_name) }}
                {{ macro.std_form_input(form.password) }}
                {{ macro.std_form_input(form.password_confirm) }}
            </fieldset>
            {{ macro.std_form_submit(form.submit) }}
        </form>
    </div>
    {{ macro.have_account() }}
{% endblock content_main %}