body {
  background: #c0c0c0;
  color: #00334d;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #00334d;
}

.bg-steel {
  background-color: #00334d;
}

.navct .navbar-nav .nav-link {
  color: #ffffff;
}

.navct .navbar-nav .nav-link:hover {
  color: #D3D3D3;
}

.navct .navbar-nav .nav-link.active {
  font-weight: 500;
}

.bci {
	color: #ffffff;
}

.bci a {
	color: #ffffff;
}

.bci a:hover  {
	color: #D3D3D3;
}


.content-section {
  background: #f3f3f3;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
